.dropdown-tree > ul{overflow-y: auto;overflow-x: hidden;white-space: nowrap;}
.dropdown-tree li{list-style: none}
.dropdown-tree li > i {margin-left: 10px;}
.dropdown-tree li:hover{ background: #eee;}
.dropdown-tree li:hover ul { background: white; }
.dropdown-tree li:hover ul li:hover { background: #eee; } 
.dropdown-tree a{display: inline-block !important;padding: 3px 20px;clear: both;font-weight: 400;line-height: 1.42857143;color: #333;white-space: nowrap;text-decoration: none;background:transparent !important; position: relative;}
.dropdown-tree .arrow{position: absolute;margin-left: -15px;top: 50%; transform: translateY(-50%);}
/*RTL CSS*/
.rtl-dropdown-tree{direction: rtl !important}
.rtl-dropdown-tree > ul{right: 0 ; left: unset; text-align: right}
.rtl-dropdown-tree .arrow{right: 6px}
.rtl-dropdown-tree li > i {margin-left: 0;margin-right: 10px;}